@import "tailwindcss";
@source "../src/**";
@source "../../shady-minions/src/**";

:root {
    --background: hsl(60, 2%, 12%);
    --foreground: hsl(0, 0%, 100%);
    --primary: hsl(247, 95%, 45%);
    --primary-foreground: hsl(0, 0%, 100%);

    --secondary: hsl(74, 88%, 48%);
    --secondary-foreground: hsl(0, 0%, 73%);
    --destructive: hsl(0, 80%, 55%);

    --muted: hsl(0, 0%, 73%);
    --muted-foreground: hsl(0, 0%, 38%);
    --accent: hsl(120, 2%, 18%);
    --accent-foreground: hsl(140, 20%, 90%);

    --border: hsl(60, 2%, 12%);
    --input: hsl(0, 0%, 73%);
    --ring: hsl(120, 2%, 18%);
}

.dark {
    --background: hsl(60, 2%, 12%);
    --foreground: hsl(0, 0%, 100%);
    --primary: hsl(247, 95%, 45%);
    --primary-foreground: hsl(0, 0%, 100%);

    --secondary: hsl(74, 88%, 48%);
    --secondary-foreground: hsl(0, 0%, 73%);
    --destructive: hsl(0, 80%, 55%);

    --muted: hsl(0, 0%, 73%);
    --muted-foreground: hsl(0, 0%, 38%);
    --accent: hsl(120, 2%, 18%);
    --accent-foreground: hsl(140, 20%, 90%);

    --border: hsl(0, 0%, 73%);
    --input: hsl(0, 0%, 73%);
    --ring: hsl(120, 2%, 18%);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--background);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
}

@theme {
  --animate-loading-bar: fade-in-scale 1s ease-in-out infinite;
  @keyframes fade-in-scale {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(200%);
    }
  }
}

@layer base {
    img {
        @apply inline;
    }
}
